.gitattributes export-ignore
.gitignore export-ignore
rector.php export-ignore
.php-cs-fixer.dist.php export-ignore
phpstan.tests.neon export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore
