name: CI

on:
  push:
    branches:
      - 'master'
    tags:
      - '[0-9].[0-9]+'
  pull_request:

jobs:
  test:
    name: "PHPUnit"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.2', '7.3', '7.4', '8.0', '8.1']
        include:
          - php-version: '7.2'
            composer-flags: '--prefer-stable --prefer-lowest'
    steps:
      - name: Check out code into the workspace
        uses: actions/checkout@v2
      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
      - name: Validate composer.json
        run: composer validate --strict --no-check-lock
      - name: Composer cache
        uses: actions/cache@v2
        with:
          path: ${{ env.HOME }}/.composer/cache
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        run: composer update ${{ matrix.composer-flags }} --prefer-dist --no-interaction
      - name: PHPStan
        if: ${{ matrix.php-version == '7.3' }}
        run: composer phpstan-all
      - name: Run tests
        run: composer phpunit
